/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: #0c0c0c;
  color: #fbf8f8;
}



/* Adjust the top margin of sections to account for the fixed navbar */


/* Content Sections */
section {
  padding: 100px;
  margin: 20px 0;
  background-color:rgb(40, 40, 39);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  text-align: center;
  color: rgb(241, 103, 28);
  margin-bottom: 10px;
}

p, ul {
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
}

ul {
  list-style-type: circle;
  margin-left: 20px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  .container {
    width: 100%;
    padding: 20px;
  }

  section {
    margin: 15px 0;
    padding: 15px;
  }

  h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  section {
    margin: 10px 0;
    padding: 10px;
  }

  h2 {
    font-size: 1rem;
  }
}
